:host {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

mat-card {
  margin-bottom: 2rem;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    margin-left: 1rem;
  }
}

